.FormContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
}
.InputContainer {
  width: 100%;
}
.FormTitle{  
  text-align: center;
  padding-bottom: 10px;
}
.ant-form-inline .ant-form-item > .ant-form-item-label {
  display: flex !important;
}

