.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
}

.App>div{
  width: 100%;
}

.fontSize-smaller {
  font-size: .8em;
  padding-left: 10px;
}